body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.login-maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 80%;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
}

.slider {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.slider img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
}

.login-box {
  width: 62%;
  padding: 42px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

h2 {
  margin: 0 0 10px;
  font-size: 24px;
  color: #333;
}

.sub-text {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.login-btn {
  background-color: #007bff;
  color: white;
}

.google-btn {
  background-color: #db4437;
  color: white;
}

button:hover {
  opacity: 0.9;
}

p {
  margin-top: 15px;
  font-size: 14px;
}
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    width: 90%;
  }

  .slider {
    width: 100%;
    padding: 10px;
  }

  .login-box {
    width: 100%;
    padding: 20px;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }
}
